.slider-main{
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.slide-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.poster{
  height: 200px;
  border-radius: 20px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.poster img{
  height: 200px;
  width: 100%;
  border-radius: 20px;
}

.blockbuster-sec{
  height: auto;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blockbuster-sec img{
  height: auto;
  width: 100%;
}   

.subTrend {
  width: 15%;
  height: 220px;
}

.subTrend img
{
  height: 220px;
  width: 100%;
}

/* top category */
.topCategory
{
  width: 100%;
  margin-top: 50px;
}
.SubTopCategory{
  width: 100%;
  border-radius: 20px;
}

.SubTopCategory img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.categorySec{
  width: 15.5%;

}
.categorySec img{
  width: 100%;
  height: auto;
}

.cricketSec{
  width: 100%;
  margin-top: 50px;
  border-radius: 20px;
}
.cricketSec img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}